.document{}
.document h1{
  color:#9b1c1f;
  padding-top: 7px;
  margin-bottom: 16px;
}

.document h2{
  border-bottom: 1px solid #f1f1f1;
  margin:30px 0 15px 0;
  padding-bottom: 5px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -1px;
  color: #666;
}

.document h3{
  font-weight: bold;
  color: #666;
  margin-top: .5em;
  padding-top: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 4px;
}

.guide{
  list-style:disc inside;
  margin: 40px 20px 0 20px;

}

.depend{
  margin: 0 20px 0 20px;

}

a{
  color: #5d87a1;
  text-decoration: none;
}

.Top{
  text-align:center;
  display: block;
  bottom:30px;
  right:30px;
}

p{
  margin: 0 0 1em;
  color: #484848;
  font-size: 13px;
  line-height: 13px;
}

.admonition-note {
  padding: 1em 1em 1em 3em;
  background-color: #FFFFDD;
  border-color: #F7DF92;
}

.admonition-note p{
  background-color: #FFFFDD;
  border-color: #F7DF92;
  margin: auto;
}

pre{
  margin-bottom: 1em;
  letter-spacing: 1px;
}