<?js
    var data = obj;
?>
    <section>
        <a float="false" id="Back" class="Back">Back</a>
        <article>
            <pre class="prettyprint source"><?js= data.code ?></pre>
        </article>
        <script type="text/javascript">
          var Back = document.getElementById("Back");
          if (Back){
            Back.onclick = function(){
              if (window.history && window.history.length) {
                window.history.back();
              }
            }
          }
        </script>
    </section>