.tabButton
{
	border-left: 1px solid black;
}

.defaultTabButton
{
    
}

.defaultTabButton .back{
	background: url(../images/tabs.png) 0px -173px repeat-x;
	/*-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius:8px;  */
}
.defaultTabButton .back:link {}
.defaultTabButton .back:visited {}
.defaultTabButton .back:hover {}
.defaultTabButton .back:active {}

.defaultTabButton .img{
	background: url(../images/tabs.png) 0px -173px repeat-x;
}
.defaultTabButton .img:link {}
.defaultTabButton .img:visited {}
.defaultTabButton .img:hover {}
.defaultTabButton .img:active {}

.defaultTabButton .text{
	font: 12px Arial, "\5FAE\8F6F\96C5\9ED1";
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	font-family: 宋体;
	font-weight: bold;
	font-size: 14px;
	color: #6B573B;
}
.defaultTabButton .text:link {}
.defaultTabButton .text:visited {}
.defaultTabButton .text:hover {
	
}
.defaultTabButton .text:active {
    color: #FF0000;
}



.selectTabButton
{
    
}

.selectTabButton .back{
	background: url(../images/tabs.png) 0px -173px repeat-x;
	/*-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius:8px;  */
}
.selectTabButton .back:link {}
.selectTabButton .back:visited {}
.selectTabButton .back:hover {}
.selectTabButton .back:active {}

.selectTabButton .img{
	background: url(../images/tabs.png) 0px -173px repeat-x;
}
.selectTabButton .img:link {}
.selectTabButton .img:visited {}
.selectTabButton .img:hover {}
.selectTabButton .img:active {}

.selectTabButton .text{
	font: 12px Arial, "\5FAE\8F6F\96C5\9ED1";
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	font-family: 宋体;
	font-weight: bold;
	font-size: 14px;
	color: #6B573B;
}
.selectTabButton .text:link {}
.selectTabButton .text:visited {}
.selectTabButton .text:hover {
	
}
.selectTabButton .text:active {
    color: #FF0000;
}
